section {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
}

    .container img {
        width: 420px;
    }

.text {
    display: block;
    padding: 40px 40px;
    width: 450px;
}

.input-box {
    position: relative;
    display: flex;
    width: 100%;
}

    .input-box input {
        width: 85%;
        height: 40px;
        padding: 5px 15px;
        font-size: 16px;
        color: #22232e;
        border-radius: 5px 0px 0px 5px;
        border: 2px solid #42455a;
        outline: none;
    }

    .input-box button {
        display: flex;
        width: 15%;
        border: 1px solid #004958;
        border-radius: 0px 5px 5px 0px;
        background: #004958;
        color: #e0ffff;
        font-size: 22px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 30px;
}

    .menu li a {
        display: flex;
        font-size: 1rem;
        color: #00c2cb;
        transition: 0.1s;
    }
